@import "tailwindcss";

/* Reset default margins */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #111827; /* dark dashboard background */
  color: #f3f4f6;
}
